
h1 {
	font-family:"Comic Sans MS", sans-serif;
	color: #660066;
		text-align: left;
		font-size: 75px;
}
i {
	color: #3366CC;
	size: 150%;
}
body {
	background-color: #FFFF66;
}
p {
	margin-left: 20px;
	color: #993333;
}
ul {
	list-style-type: square;
	font-family: Verdana;
	color: #FF3300;
}
h2 {
	font-family: Courier;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	color: ##666699;
}
figcaption {
	color: #FF0066;
	font-family: Impact, sans-serif;
}
h4 {
	font-family: Lucida, sans-serif;
	color: #006666;
}
hr {
	color: #acd1b2;
	background-color: #FF6699;
	height: 3px;
}
a {
	color: #003300;
	font-family: ;
}
ol {
	color: #CCFFFF;
	font-family:Verdana, sans-serif;
}
h3 {
	color: #660033;
	font-family:Impact, sans-serif;
	text-align:center;
}
