
h1 {
	font-family: Helvetica;
	color: #000099;
}
i {
	color: red;
	size: 75%;
}
body {
	background-color: #CCFFFF;
}
p {
	margin-left: 20px;
}
ul {
	list-style-type: circle;
	font-family: Didot;
}
h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}
