* {
	font-family: Arial, Verdana, sans-serif;
	color: #000000;
}
h1 {
	font-family: Helvetica;
	color: #000099;
}
i {
	color: red;
	size: 75%;
}
body {
	background-color: #CCFFFF;
}
p {
	margin-left: 20px;
}
ul {
	list-style-type: circle;
	font-family: Didot;
}
b {
	
}

